body {background-color:#E3EDCD !important;}
div {background-color:#E3EDCD !important;}
table {background-color:#E3EDCD !important;}
td {background-color:#E3EDCD !important;}
a:link {color:#008B8B !important;}
a:visited, a:visited * {color:#4B0082 !important;}
a:active, a:active * {color:#0D4859 !important;}